.input_green {
  font-family: 'Press Start 2P', cursive;
  margin: 20px 0 20px 0;
  outline: none;
  border: none;
  color: limegreen;
  background: transparent;
}

.input_wrap:before {
  font-family: 'Press Start 2P', cursive;
  content: '>';
  color: limegreen
}