.signUp {
  color: limegreen;

  &__header {
    text-align: center;
    color: white;
  }

  &__button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}